<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="{% static 'css/nosotros.css' %}">
	<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
	<link rel="stylesheet" href="{% static 'css/productos.css' %}">
	<title>{% block title %}{% endblock %}</title>
</head>

<body>
	<header class="zone_header">
		<div class="container container_header">
			<div class="logo_header">
				<a href="{% url 'index' %}">
					<img class="logo_img" src="{% static 'images/logo_senda.svg' %}" alt="Logo Senda">
				</a>
			</div>
			<nav class="main_nav">
				<ul>
					<a href="{% url 'about' %}">
						<li>Nosotros</li>
					</a>
					<a href="{% url 'hoteles' %}">
						<li>Hoteles</li>
					</a>
					<a href="{% url 'vuelos' %}">
						<li>Vuelos</li>
					</a>
					<a href="{% url 'actividades' %}">
						<li>Actividades</li>
					</a>
					<a href="{% url 'packs' %}">
						<li>Packs</li>
					</a>
				</ul>
				<div class="zona_login">
					{% if request.user.is_authenticated %}
					<a class="button_primary" href="{% url 'perfil' %}">{{request.user.username}}</a>
					{% else %}
					<a class="button_grey" href="{% url 'registro' %}">Registro</a>
					<a class="button_secondary" href="{% url 'login' %}">Mi cuenta</a>			
					{% endif %}
					<a class="button_secondary_icon" href="{% url 'cart' %}">
					<div class="cart_icon">
						
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
								stroke="currentColor" class="w-6 h-6">
								<path stroke-linecap="round" stroke-linejoin="round"
									d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
							</svg>
						
					</div>
				</a>
				</div>
			</nav>

		</div>
	</header>
	<main class="zone_main">
		<div class="container_main">
			{% block content %}
			{% endblock %}
		</div>
	</main>
	<footer class="zone_footer">
		<div class="container_footer">
			<div class="footer_info">
				<div class="logo_footer">
					<a href="{% url 'index' %}">
						<img class="logo_img" src="{% static 'images/logo_senda_white.svg' %}" alt="Logo Senda">
					</a>
				</div>
			</div>
		</div>
	</footer>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/map.js' %}"></script>
	<script src="{% static 'js/textMorphism.js' %}"></script>
	<script src="{% static 'js/register.js' %}"></script>
	<script src="{% static 'js/home.js' %}"></script>
</body>

</html>