/* --- Import Font Family --- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

/* --- Global variables --- */
:root
{
	--clr_white: hsl(0, 0%, 100%);
	--clr_black: hsl(0, 0%, 0%);
	--clr_grey: hsl(180, 7%, 96%);
	--clr_grey_dark: hsl(180, 7%, 90%);
	--clr_green: hsl(149, 51%, 31%);
	--clr_green_dark: hsl(150, 61%, 20%);
	--clr_orange: hsl(13, 82%, 57%);
	--clr_orange_dark: hsl(9, 78%, 49%);
	--clr_grey_text: hsl(150, 6%, 25%);
	--container_width: 1200px
}

/* --- Breakpoints Responsive --- */
/* Large mobile */
@media (min-width: 576px) {}
/* Tablet */
@media (min-width: 768px) {}
/* Desktop */
@media (min-width: 992px) {}
/* Large Desktop */
@media (min-width: 1200px) {}

/* ----- Inicio CSSs Generales --- No tocar ----- */
body
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
}

.zone_header {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 100px;
	margin-bottom: 48px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.container_header
{
	width: 100%;
	max-width: var(--container_width);
	padding: 0 24px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.zone_main {
	width: 100%;
	display: flex;
	justify-content: center;
}

.container_main {
	width: 100%;
	max-width: var(--container_width);
	padding: 0 24px;
	box-sizing: border-box;
	min-height: 58vh
}

.zone_footer
{
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: var(--clr_green_dark);
	height: 80px;
	padding: 40px 0;
	margin-top: 80px;
}

.container_footer
{
	width: 100%;
	max-width: var(--container_width);
	padding: 0 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.logo_footer{
	width: 128px;
}

@media (min-width: 992px) {

	.container_main {
		padding: 0;
	}
	
	.container_header {
		padding: 0;
	}
}


/* ----- Inicio CSSs Generales --- No tocar ----- */


.contenedor-titulo
{
	display: flex;
	font-size: 16px;
	font-style: normal;
}
.boton-atras
{
	border: none;
	cursor: pointer;
	background-color: white; 
	color: #3C4440;
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 5px;
	margin-right: 10px;
}

.contenedor-imagenes 
{
	float: right;
    width: 30%;
}

.peru
{
	width: 67%;
	display: block;
    float: left;
    margin-right: 20px;
	border-radius: 3%;
	margin-bottom: 40px;
}

.room
{
	width: 100%;
	height: 100%;
	border-radius: 3%;
    margin-bottom: 10px;
	display: block;
}

.pool
{
	width: 100%;
	height: 100%;
	border-radius: 3%;
	display: block;
    margin-bottom: 10px;

}

.contenido-texto 
{
	
	clear: both;
	font-family: 'Work Sans', sans-serif;
}

.parrafo 
{
	float: left;
	width: 65%;
}

.parrafo2
{
	float: left;
	width: 100%;
}

.boton-carrito 
{
	background-color: #27774E; 
	border: none;
	color: white;
	padding: 20px 40px;
	border-radius: 40px; 
	cursor: pointer;
	margin-top: 40px;
	margin-bottom: 40px;
	font-family: 'Work Sans', sans-serif;

}


.logo_img
{
	width: 100%;
}

.logo_header{
	width: 120px;
}



.main_nav
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.main_nav ul
{
	list-style: none;
	overflow: hidden;
}

.main_nav ul li {
	float: left;
	font-size: 16px;
	padding: 16px 20px;
	border-radius: 32px; 
	background-color: var(--clr_grey);
	color: var(--clr_grey_text);
	margin-right: 16px;
}

.main_nav ul li:hover
{
	background-color: var(--clr_grey_dark);
}

.zona_login
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
}

.cart_icon
{
	width: 24px;
	display: flex;
}

.cart_icon:hover
{
	color: var(--clr_orange);
}

.button_primary
{
	color: var(--clr_white);
	font-size: 16px;
	background-color: var(--clr_green);
	border: 0;
	padding: 16px 20px;
	border-radius: 32px;
	text-decoration: none;
}

.button_primary:hover
{
	background-color: var(--clr_green_dark);
}

.button_secondary
{
	color: var(--clr_white);
	font-size: 16px;
	background-color: var(--clr_orange);
	border: 0;
	padding: 16px 20px;
	border-radius: 32px;
	text-decoration: none;
}

.button_secondary:hover
{
	background-color: var(--clr_orange_dark);
}

.button_secondary_icon
{
	color: var(--clr_white);
	font-size: 16px;
	background-color: var(--clr_orange);
	border: 0;
	padding: 14px;
	border-radius: 32px;
	text-decoration: none;
}

.button_secondary_icon:hover
{
	background-color: var(--clr_orange_dark);
}

.button_secondary:hover
{
	background-color: var(--clr_orange_dark);
}

.button_grey
{
	color: var(--clr_grey_text);
	font-size: 16px;
	background-color: var(--clr_grey);
	border: 0;
	padding: 16px 20px;
	border-radius: 32px;
	text-decoration: none;
}

.button_grey:hover
{
	background-color: var(--clr_grey_dark);
}


.slide
{
	width:100%;
	height: 494px;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
	.catagories
	{
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 400px) {

	.search_bar
	{ 
		height: 200px;
	}

	.catagories
	{
		grid-template-columns: 1fr;
	}

	.card
	{
		height: 140px;
	}
}

.slideshow-container {
	max-width: 100%;
	position: relative;
	margin: auto;
  }
  
.slide {
	display: none;
  }
  
.slide img {
	width: 100%;
	height: auto;
  }
  
  
  
.search-bar {
	display: flex;
	align-items: center;
	justify-content: center;
}



.button {
	background-color: #EB5E37;
	color: white;
	padding: 10px 16px;
	border: none;
	border-radius: 0px 50px 50px 0px;
	cursor: pointer;
	height: 37px;
} 

#first_select
{
	border-radius: 50px 0px 0px 50px;
}
.dropdownbar
{
	padding: 10px 16px;
	border: 0px;
	height: 37px;
}

#line1{
	margin: 0%;
}

#line2{
	font-style: italic;
	font-size: 40px;
}


/* -------------- ESTE ES MI CSS DE CARRITO DE COMPRAS ----------------------------- */

.principal
{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 2em;
	margin-top: 2em;

}
.detalle_carrito
{
	
	display: inline-block;
	flex-direction: column;
	padding-right: 2.5em;
}

.detalle_carrito svg
{
	width: 24px;
}
.detalleProducto
{
	background-color: var(--clr_grey_dark);
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	width: 752px;
	height: 653px;
	border-radius: 20px;
}

.pack1
{
	display: flex;
	background-color:white;
	justify-content: space-around;
	align-items: center;
	height:145px;
	width: 700px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}


.foto img
{
	height: 8em;
	width: 10em;
	border-radius: 10px;
}

.precio
{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	align-items: center;
	justify-items: end;

}
.precio svg
{
	width: 24px;
	
}

.detalleTarjeta
{
	background-color: #145233;
	width: 438px;
	height: 727px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	color: var(--clr_white);
	padding: 1em;

}

.tipo_tarjeta
{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 15px;
}

.form_tarjeta
{
	width: 100%;

}
.form
{
	display: flex;
	flex-direction: column;
	grid-gap: 10px;
	padding: 8px ;
}

.box_name
{
	width: 100%;
	padding: 12px 20px;
	background-color: #27774E;
	opacity: 0.5;
	border-radius: 6px;
	border: 0;
	color: var(--clr_white);
	font-family: 'Work Sans', sans-serif;
}

.name_tarjeta
{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.totalprecio
{
	text-align: right;
}

.CTA_PAGAR
{
	background-color: var(--clr_orange);
	height: 40px;
	border-radius: 10px;
	border: none;
	font-family: 'Work Sans', sans-serif;	
	color: var(--clr_white);
	font-weight: bold;
	font-size: 16px;
}

@media (max-width: 1000px) {
.principal {
	flex-direction: column;
    align-items: center;

}
}
/*AQUÍ ACABA CARRITO CSS*/

/*CSS REGISTRO*/



h2 {
    text-align: center;
    margin-bottom: 20px;
	color: #27774E;
}

.campo {
    position: relative;
    margin-bottom: 10px;
	border-radius: 30px;
}

.label-placeholder {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999;
    transition: 0.2s ease all;
    font-size: 14px;
	border-radius: 30px;
}

.label-placeholder-nacimiento {
    position: absolute;
    top: 50%;
    left: 120px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999;
    transition: 0.2s ease all;
    font-size: 14px;
	border-radius: 30px;
}



.relleno + .label-placeholder {
    transform: translateY(-130%);
    font-size: 12px;
    color: #333;
}



/*FIN CSS REGISTRO*/

/* Inicio refinamiento Angel */

.page_title {
	font-size: 36px;
	color: var(--clr_orange);
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	margin: 0 0 24px 0;
	padding: 16px 0; 
	display: flex;
	flex-direction: row;
	gap: 16px;
	align-items: center;
}

.page_title_icon {
	width: 32px;
	margin-top: 2px;
}

/* Formulario - Select */

.tab {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
	grid-gap: 24px;
	overflow: hidden;
	border: none;
	margin-bottom: 16px;
}

.tablinks {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Work sans', sans-serif;
	font-weight: 500;
}

.tab button {
	background-color: #f6f6f6;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 20px 24px;
	transition: 0.3s;
	border-radius: 16px;
}

.tab button:hover {
	background-color: #eaeaea;
  }

.tab button.tablinks.active {
	background-color: var(--clr_orange);
	border-radius: 16px;
	color: #ffffff;
}

.tab button.tablinks.active svg{
	color: #ffffff;
}

.box {
	font-family: 'Work Sans', sans-serif;
	width: 100%;
	background-color: #ffffff;
	/* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); */
	border: solid 1px var(--clr_grey);
	display: flex;
	align-items: center;
	padding: 16px 24px;
	box-sizing: border-box;
	border-radius: 24px;
}

/* ----- Login ----- */

.input-campo {
	/* width: calc(100% - 12px); */
	width: 100%;
	padding: 16px 24px;
	border: 1px solid #dddddd;
	border-radius: 48px;
	font-size: 16px;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
}

.zona-registro {
	width: 100%;
	display: flex;
	justify-content: center;
}

.container-registro {
	min-width: 400px;
	padding: 32px 24px;
	border-radius: 24px;
	background-color: var(--clr_grey);
	box-shadow: 0 4px 8px rgba(0, 4, 4, 0);
	
}

input[type="submit"] {
	width: 100%;
}

.form_login {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.form_title{
	font-family: 'Work sans', sans-serif;
	font-size: 24px;
}

/* input[type="submit"] {
    background-color: #EB5E37;
    color: white;
    padding: 10px 170px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
	display: block;
    margin: 0 auto;
	margin-bottom: 10px;
	border-radius: 30px;
}