{% extends 'plantilla/base.html' %}
{% load static %}
{% block title %} Sobre Nosotros {% endblock %}
{% block content %}
<section class="about">
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSoJmRylY9XMziBt3Vf1PfVfOq6bNJSpdIRaWu1ItmUdVOuxmd7" class="imgs">
    <div>Nuestra misión es transformar y modernizar la experiencia de viaje. Estamos cansados de los métodos tradicionales y nos hemos embarcado en esta emocionante travesía para brindarte lo mejor en viajes y aventuras.</div>
    <table>
      <tr>
        <td><canvas id="cv_A" width="600" height="300"></canvas></td>
        <td><canvas id="cmap" width="600" height="300"></canvas></td>
      </tr>
    </table>
    <table>
      <tr>
        <td><img src="https://img.freepik.com/free-vector/europe-buildings-travel-illustration-card_1284-35665.jpg" class="imgs"></td>
        <td><canvas id="cv_B" width="600" height="300"></canvas></td>
      </tr>
    </table>
    <div><canvas id="cv_C" width="1200" height="300"></canvas></div>
</section>

{% endblock %}