{% extends 'plantilla/base.html' %}
{% load static %}
{% block title %} Senda {% endblock %}
{% block content %}
<div>
	<div class="slider_container">
		<div style="background-image:url({% static 'images/bg_searchbar.jpg' %});" class="slider_slide fade"></div>
		<a href="/registro">
		<div style="background-image:url({% static 'images/flyer_concierto.jpg' %});" class="slider_slide fade"></div>
	</a>
		<a class="prev" onclick="plusSlides(-1)">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
			</svg>
		</a>
		<a class="next" onclick="plusSlides(1)">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
			</svg>
		</a>
	</div>

    <div class="category_grid">
        <div style="background-image:url({% static 'images/playa.png' %});" class="category_card">Playa</div>
        <div style="background-image:url({% static 'images/ciudad.png' %});" class="category_card">Ciudad</div>
        <div style="background-image:url({% static 'images/selva.png' %});" class="category_card">Selva</div>
        <div style="background-image:url({% static 'images/glamping.png' %});" class="category_card">Glamping</div>
        <div style="background-image:url({% static 'images/ski.jpg' %});" class="category_card">Ski</div>
        <div style="background-image:url({% static 'images/senderismo.png' %});" class="category_card">Senderismo
        </div>
    </div>
    <div class="promotion">
        <div class="slideshow-container">
            <div style="background-image:url({% static 'images/Berlin.png' %});" class="slide"></div>
            <div style="background-image:url({% static 'images/paris.png' %});" class="slide"></div>
            <div style="background-image:url({% static 'images/Amsterdam.png' %});" class="slide"></div>
            <div style="background-image:url({% static 'images/hotelywarner.jpg' %});" class="slide"></div>
            <div style="background-image:url({% static 'images/ofertas-circuitos-home.jpg' %});"
                class="slide"></div>
        </div>
    </div>

	<script>
		let slideIndex = 1;
		showSlides(slideIndex);

		function plusSlides(n) {
		showSlides(slideIndex += n);
		}
		
		function currentSlide(n) {
		showSlides(slideIndex = n);
		}

		function showSlides(n) {
		let i;
		let slides = document.getElementsByClassName("slider_slide");
		if (n > slides.length) {slideIndex = 1}
		if (n < 1) {slideIndex = slides.length}
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		slides[slideIndex-1].style.display = "block";
		}

		function autoChangeSlide() {
			plusSlides(1);
		}
		setInterval(autoChangeSlide, 4000);
	</script>
</div>
{% endblock %}