{% extends 'plantilla/base.html' %}
{% load static %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="container-registro">
    <h2>Bienvenido</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="campo">
            <input type="text" id="usuario" placeholder="Usuario" name="username" class="input-campo relleno" required>
        </div>

        <div class="campo">
            <input type="password" id="contrasena" placeholder="Contraseña" name="password" class="input-campo relleno" required>
        </div>
        <input type="submit" value="Enviar">
    </form>
</div>
{% endblock %}