{% extends 'plantilla/base.html' %}
{% load static %}
{% block title %} {{request.user.username }} {% endblock %}
{% block content %}

<div class="seccion_mailing">
    <h1 class="page_title">
		<button id="btnBack" class="btn_back">
			<svg class="page_title_icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
				</svg>
		</button>
		Campañas mailing
	</h1>
    <form method="post" action="{% url 'send_email_to_all' %}">
        {% csrf_token %}
        <div class="mail_op">
            <div class="mail_data">
                <p style="color:#EB5E37">Fecha de registro:</p>
                <div>
                    <label for="id_start_date">desde</label>
                    <input class="mail_fechas" type="date" name="start_date" id="id_start_date" required>
                </div>
                <div>
                <label for="id_end_date">hasta</label>
                <input class="mail_fechas" type="date" name="end_date" id="id_end_date" required>
                </div>
            </div>
            <button type="submit" class="button_secondary">Enviar Email</button>
        </div>
        
    </form>
    <div class="mail_table">
        <div>Usuario</div>
        <div>Email</div>
        <div>Asunto</div>
        <div>Fecha de envio</div>
    </div>
    <div class="mail_table_result">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

{% endblock %}