{% extends 'plantilla/base.html' %}
{% load static %}
{% block title %} {{request.user.username }} {% endblock %}
{% block content %}


<h1>Hola {{request.user.username }}</h1>


<h2>Customize Email Form</h2>
<form method="post" action="{% url 'send_email_to_all' %}" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Subject Field -->
    <div>
        {{ form.subject.label_tag }}
        {{ form.subject }}
    </div>

    <!-- Content Field -->
    <div>
        {{ form.content.label_tag }}
        {{ form.content }}
    </div>
    
    <!-- Template Field -->
    <div>
        {{ form.template.label_tag }}
        {{ form.template }}
    </div>

    <!-- Start Date Field -->
    <div>
        <p>Fecha de registro:</p>
        <label for="id_start_date">desde:</label>
        <input type="date" name="start_date" id="id_start_date" required>
    </div>

    <!-- End Date Field -->
    <div>
        <label for="id_end_date">hasta:</label>
        <input type="date" name="end_date" id="id_end_date" required>
    </div>

    <!-- Submit Button -->
    <div>
        <button type="submit" class="button_secondary">Enviar Email</button>
    </div>
</form>


<h2>Emails enviados</h2>
<table id="table_id" class="table">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Email</th>
            <th>Asunto</th>
            <th>Fecha de envio</th>
        </tr>
    </thead>
    <tbody>
        {% for c in count_emails %}
        <tr>
          <td>{{c.user}}</td>
          <td>{{c.email}}</td>
          <td>{{c.asunto}}</td>
          <td>{{c.fecha}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'logout' %}" class="button_secondary">Salir</a>
<!-- a href="{% url 'mailing' %}" class="button_secondary">Enviar correo</a> -->


{% endblock %}