<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/nosotros.css">
    <title>Senda</title>
</head>
<header class="zone_header">
  <div class="container container_header">
    <div class="logo_header">
      <img class="logo_img" src="./images/logo_senda.svg" alt="Logo Senda">
    </div>
    <nav class="main_nav">
      <ul>
        <a href=""><li>Sobre nosotros</li></a>
        <a href=""><li>Elige tu viaje</li></a>
        <a href=""><li>Packs</li></a>
      </ul>
      <div class="zona_login">
        <button class="button_secondary">Mi cuenta</button>
        <div class="cart_icon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
            </svg>
        </div>
      </div>
    </nav>
    
  </div>
</header>
<main class="zone_main">
  <div class="container_main">
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSoJmRylY9XMziBt3Vf1PfVfOq6bNJSpdIRaWu1ItmUdVOuxmd7" class="imgs">
    <div style="font: 20px Arial ; width: 1200px ; margin-left: auto;
  margin-right: auto;">Nuestra misión es transformar y modernizar la experiencia de viaje. Estamos cansados de los métodos tradicionales y nos hemos embarcado en esta emocionante travesía para brindarte lo mejor en viajes y aventuras.</div>
    <table>
      <tr>
        <td><canvas id="cv_A" width="600" height="300"></canvas></td>
        <td><canvas id="cmap" width="600" height="300"></canvas></td>
      </tr>
    </table>
    <table>
      <tr>
        <td><img src="https://img.freepik.com/free-vector/europe-buildings-travel-illustration-card_1284-35665.jpg" class="imgs"></td>
        <td><canvas id="cv_B" width="600" height="300"></canvas></td>
      </tr>
    </table>
    <div><canvas id="cv_C" width="1200" height="300"></canvas></div>
  </div>
</main>
<footer class="zone_footer">
  <div class="container_footer">
    <div class="footer_info">
      <div class="logo_footer">
        <img class="logo_img" src="./images/logo_senda_white.svg" alt="Logo Senda">
      </div>
    </div>
  </div>
</footer>
<script src="./js/textMorphism.js"></script>
    <script src="./js/map.js"></script>
  </body>
</html>