{% extends 'plantilla/base.html' %}
{% load static %}
{% block title %} Detalle vuelo {% endblock %}
{% block content %}

<!-- <h1>probando actividad</h1> -->
	<main class="zone_main">
		<div class="container_main">
			<div  class="contenedor-titulo">
				<button class="boton-atras" > &lt; </button> 
					<h1>{{ vuelo.vu_nombre }}</h1> 
			</div>
			<hr>
			<img class="peru" src="{% static 'images/peru.jpg' %}">
			<div class="contenedor-imagenes">
				<img class="room" src="{% static 'images/habitacion.jpg' %}">
				<img class="pool" src="{% static 'images/pool.jpg' %}">	
			</div>
			<div class="contenido-texto">
					{{vuelo.vu_descripcion}}
			</div>
			<button class="boton-carrito">Añadir al carrito</button>
		</div>
	</main>

{% endblock %}



