{% extends 'plantilla/base.html' %}
{% load static %}
{% block title %} Detalle {{pack.pa_nombre}} {% endblock %}
{% block content %}

<!-- <h1>probando actividad</h1> -->
	<main class="zone_main">
		<div class="container_main">
			<div  class="contenedor-titulo">
				<button class="boton-atras" > &lt; </button> 
					<h1>{{ pack.pa_nombre }}</h1> 
			</div>
			<hr>
			<div class="contenido-texto">
				<br><br>
				<strong>Ciudad: </strong>{{pack.pa_ciudad}}
				<br><br>
				<strong>Descripción: </strong>{%lorem%}
				<br><br>
				<strong>Información vuelo: </strong>{{pack.vuelo_id.nombre}}
				<br><br>
				<strong>Precio: </strong>{{pack.pa_precio}} €/noche
				<br><br>
				<img src="{{pack.pa_imagen.url}}">
				<br><br>
			</div>
			<button class="boton-carrito">Añadir al carrito</button>
		</div>
	</main>

{% endblock %}



