{% extends 'plantilla/base.html' %}
{% load static %}
{% block title %} Detalle {{hotel.ho_nombre}} {% endblock %}
{% block content %}

<!-- <h1>probando actividad</h1> -->
	<main class="zone_main">
		<div class="container_main">
			<div  class="contenedor-titulo">
				<button class="boton-atras" > &lt; </button> 
					<h1> Hotel {{ hotel.ho_nombre }}</h1> 
			</div>
			<hr>
			<div class="contenido-texto">
					{{hotel.ho_descripcion}}
			</div>
			<a href="{% url 'add_hotel' hotel.id %}" class="boton-carrito">Añadir al carrito</a>
		</div>
	</main>

{% endblock %}



