<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Senda</title>
</head>
<body>
	<header class="zone_header">
		<div class="container container_header">
			<div class="logo_header">
				<img class="logo_img" src="./images/logo_senda.svg" alt="Logo Senda">
			</div>
			<nav class="main_nav">
				<ul>
					<a href=""><li>Sobre nosotros</li></a>
					<a href=""><li>Elige tu viaje</li></a>
					<a href=""><li>Packs</li></a>
				</ul>
				<div class="zona_login">
					<button class="button_secondary">Mi cuenta</button>
					<div class="cart_icon">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
						  </svg>
					</div>
				</div>
			</nav>
			
		</div>
	</header>
	<main class="zone_main">
		<div class="container_main">
			<!-- Aqui estaría vuestro código -->
			<div  class="contenedor-titulo">
				<button class="boton-atras" > &lt; </button> 
				   <h1> Pack Llama Perú </h1> 
			</div>
			<hr>
			<img class="peru" src="./images/peru.jpg">
			<div class="contenedor-imagenes">
				<img class="room" src="./images/habitacion.jpg">
				<img class="pool" src="./images/pool.jpg">	
			</div>
			<div class="contenido-texto">
					<h1>Itinerario de Viaje a Perú de 10 Días</h1>
				
					<h2>Día 1: Llegada a Lima</h2>
					<ul>
						<li>Llegada a Lima, la capital de Perú.</li>
						<li>Alojamiento en un hotel en el distrito de Miraflores.</li>
						<li>Cena en un restaurante local.</li>
					</ul>
				
					<h2>Día 2: Lima</h2>
					<ul>
						<li>Desayuno en el hotel.</li>
						<li>Visita al Centro Histórico de Lima, incluyendo la Plaza Mayor, la Catedral y el Palacio de Gobierno.</li>
						<li>Almuerzo en un restaurante local.</li>
						<li>Visita al Museo Larco por la tarde.</li>
						<li>Cena en un restaurante de comida peruana.</li>
					</ul>
				
					<h2>Día 3: Paracas y Huacachina</h2>
					<ul>
						<li>Desayuno en el hotel.</li>
						<li>Salida temprano hacia Paracas.</li>
						<li>Tour en bote por las Islas Ballestas para ver la fauna marina, incluyendo pingüinos y leones marinos.</li>
						<li>Almuerzo en Paracas.</li>
						<li>Continúa hacia Huacachina, un oasis en medio del desierto.</li>
						<li>Relájate en las dunas de Huacachina o realiza deportes de aventura como sandboarding.</li>
						<li>Cena en Huacachina.</li>
					</ul>
				
					<h2>Día 4: Nazca</h2>
					<ul>
						<li>Desayuno en el hotel.</li>
						<li>Viaje a Nazca.</li>
						<li>Sobrevuelo de las Líneas de Nazca para apreciar los misteriosos geoglifos desde el aire.</li>
						<li>Almuerzo en Nazca.</li>
						<li>Regreso a Lima por la tarde.</li>
					</ul>
				
					<h2>Día 5: Cusco</h2>
					<ul>
						<li>Desayuno en Lima.</li>
						<li>Vuelo a Cusco.</li>
						<li>Llegada a Cusco y traslado al hotel.</li>
						<li>Tarde libre para aclimatarse a la altitud.</li>
						<li>Cena en un restaurante cusqueño.</li>
					</ul>
				
					<h2>Día 6: Valle Sagrado</h2>
					<ul>
						<li>Desayuno en el hotel.</li>
						<li>Excursión al Valle Sagrado de los Incas, que incluye visitas a Pisac y su mercado, así como a Ollantaytambo.</li>
						<li>Almuerzo buffet en el Valle Sagrado.</li>
						<li>Regreso a Cusco.</li>
					</ul>
				
					<h2>Día 7: Machu Picchu</h2>
					<ul>
						<li>Desayuno temprano en el hotel.</li>
						<li>Viaje en tren a Aguas Calientes, el pueblo base para Machu Picchu.</li>
						<li>Visita a la ciudadela de Machu Picchu, una de las maravillas del mundo.</li>
						<li>Almuerzo en Aguas Calientes.</li>
						<li>Regreso a Cusco en tren.</li>
					</ul>
				
					<h2>Día 8: Cusco</h2>
					<ul>
						<li>Desayuno en el hotel.</li>
						<li>Día libre en Cusco para explorar la ciudad por tu cuenta.</li>
						<li>Opción de visitar museos, iglesias y disfrutar de la gastronomía local.</li>
						<li>Cena en Cusco.</li>
					</ul>
				
					<h2>Día 9: Puno y el Lago Titicaca</h2>
					<ul>
						<li>Desayuno en el hotel.</li>
						<li>Viaje en autobús o tren a Puno, a orillas del Lago Titicaca.</li>
						<li>Llegada a Puno y alojamiento en un hotel.</li>
						<li>Tarde libre para explorar la ciudad de Puno.</li>
					</ul>
				
					<h2>Día 10: Islas Flotantes de los Uros y Taquile</h2>
					<ul>
						<li>Desayuno en el hotel.</li>
						<li>Excursión en lancha a las Islas Flotantes de los Uros en el Lago Titicaca.</li>
						<li>Visita a la isla de Taquile, donde disfrutarás de la cultura local y vistas impresionantes.</li>
						<li>Almuerzo en Taquile.</li>
						<li>Regreso a Puno y vuelo de regreso a Lima.</li>
					</ul>				
				<button class="boton-carrito">Añadir al carrito</button>
			</div>
		</div>
	</main>
	<footer class="zone_footer">
		<div class="container_footer">
			<div class="footer_info">
				<div class="logo_footer">
					<img class="logo_img" src="./images/logo_senda_white.svg" alt="Logo Senda">
				</div>
			</div>
		</div>
	</footer>
</body>
</html>