{% extends 'plantilla/base.html' %}
{% load static %}
{% block title %} Detalle {{pack.pa_nombre}} {% endblock %}
{% block content %}

<!-- <h1>probando actividad</h1> -->
	<main class="zone_main">
		<div class="container_main">
			<div class="dproduct_container">
				<div class="dproduct_img" style="background-image: url({{pack.pa_imagen.url}});"></div>
				<div class="dproduct_info">
					<h1 class="dproduct_title">
						<button id="btnBack" class="btn_back">
							<svg class="page_title_icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
								</svg>
						</button>
						{{pack.pa_nombre}}
					</h1>
					<div class="dproduct_details">
						<div class="dproduct_datas_zone">
							<div class="dproduct_datas">
								<p class="detail_title">Ciudad</p>
								<p class="detail_data">{{pack.pa_ciudad}}</p>
							</div>
							<div class="dproduct_datas">
								<p class="detail_title">Hora</p>
								<p class="detail_data">8:00 am</p>
							</div>
							<div class="dproduct_datas">
								<p class="detail_title">Vuelo Origen</p>
								<p class="detail_data">{{pack.vuelo.vu_origen}}</p>
							</div>
							<div class="dproduct_datas">
								<p class="detail_title">Vuelo Destino</p>
								<p class="detail_data">{{pack.vuelo.vu_destino}}</p>
							</div>
						</div>
						<p class="detail_title">Descripción</p>
						<p class="detail_data">{%lorem%}</p>
					</div>
					<div class="dproduct_buy">
						<p class="dproduct_price">{{pack.pa_precio}} €</p>
						<a href="{% url 'add_pack' pack.id %}" class="boton-carrito">Añadir al carrito</a>
					</div>
				</div>
			</div>

			{% comment %} <hr>
			<div class="contenido-texto">
				<br><br>
				<strong>Ciudad: </strong>{{pack.pa_ciudad}}
				<br><br>
				<strong>Descripción: </strong>{%lorem%}
				<br><br>
				<strong>Información vuelo: </strong>
				<pre><i>Origen: </i>{{pack.vuelo.vu_origen}}</pre>
				<pre><i>Destino: </i>{{pack.vuelo.vu_destino}}</pre>
				<pre><i>Hora: </i>8:00am</pre>
				<pre><i>Precio: </i>{{pack.vuelo.vu_precio}} €</pre>
				<br><br>
				<strong>Información hotel: </strong>
				<pre><i>Ciudad: </i>{{pack.hotel.ho_ciudad}}</pre>
				<pre><i>Dirección: </i>{{pack.hotel.ho_direccion}}</pre>
				<pre><i>Descripción: </i>{%lorem%}</pre>
				<pre><i>Precio: </i>{{pack.hotel.ho_precio}} €/noche</pre>
				<br><br>
				<strong>Información actividades: </strong>
				<pre><i>Ciudad: </i>{{pack.actividad.act_ciudad}}</pre>
				<pre><i>Descripción: </i>{%lorem%}</pre>
				<pre><i>Precio: </i>{{pack.actividad.act_precio}} €</pre>
				<br><br>
				<strong>Precio total: </strong>{{pack.pa_precio}} €/noche
				<br><br>
				<img src="{{pack.pa_imagen.url}}">
				<br><br>
			</div>
			<button class="boton-carrito">Añadir al carrito</button> {% endcomment %}
		</div>
	</main>




{% endblock %}



