{% extends 'plantilla/base.html' %}
{% load static %}
{% block title %} Packs {% endblock %}
{% block content %}

<div  class="contenedor-titulo-producto">
		<h1>Productos</h1>
</div>

<div class="main_productos">
	<div class="seccion_productos">
		<a href="{% url 'hoteles' %}" class="link_seccion_product">
			<div class="titulo_seccion">
			Hoteles
			</div>
		</a>
		<div class="grid_productos">
			{% for ho in hoteles %}
			<a href="#" class="link_producto">
					<div class="producto"> 
					<img src="{% static 'images/habitacion.jpg' %}" class="img_product">
					<h3 class="product_name">{{ho}}<h3> 
				</div>
			</a>
			{% endfor %}
		</div>
	</div>

	<div class="seccion_productos">
		<a href="{% url 'vuelos' %}" class="link_seccion_product">
			<div class="titulo_seccion">
			Vuelos
			</div>
		</a>
		<div class="grid_productos">
			{% for vu in vuelos %}
			<a href="#" class="link_producto">
					<div class="producto"> 
					<img src="{% static 'images/vuelos.jpeg' %}" class="img_product">
					<h3 class="product_name">{{vu}}<h3> 
				</div>
			</a>
			{% endfor %}
		</div>
	</div>

	<div class="seccion_productos">
		<a href="{% url 'actividades' %}" class="link_seccion_product">
			<div class="titulo_seccion">
			Actividades
			</div>
		</a>
		<div class="grid_productos">
			{% for act in actividades %}
			<a href="#" class="link_producto">
					<div class="producto"> 
					<img src="{% static 'images/senderismo.png' %}" class="img_product">
					<h3 class="product_name">{{act}}<h3> 
				</div>
			</a>
			{% endfor %}
		</div>
	</div>

	<div class="seccion_productos">
		<a href="{% url 'packs'%}" class="link_seccion_product">
			<div class="titulo_seccion">
			Packs completos
			</div>
		</a>
		<div class="grid_productos">
			{% for pa in packs%}
			<a href="#" class="link_producto">
					<div class="producto"> 
					<img src="{% static 'images/hotelywarner.jpg' %}" class="img_product">
					<h3 class="product_name">{{pa}}<h3> 
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}