{% extends 'plantilla/base.html' %}
{% load static %}
{% block title %} Registro {% endblock %}
{% block content %}
<section class="login">
    <div class="login-container">
        <h1>Registro</h1>
        {% for m in messages %}
        {{m}}
        {% endfor %}
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Usuario" name="username" id="">
            <input type="password" placeholder="Contraseña" name="password" id="">
            <input type="password" placeholder="Contraseña" name="password2" id="">
            <input type="text" placeholder="Email" name="email" id="">
            <button type="submit" class="button_login">Registrar</button>
        </form>
    </div>
</section>
{% endblock %}