{% extends 'plantilla/base.html' %}
{% load static %}
{% block title %} Registro {% endblock %}
{% block content %}
<div class="container-registro">
    <h2>Crear Cuenta</h2>
    <form action="procesar_registro.php" method="post">

        <div class="campo">
            <label for="nombre" class="label-placeholder">Nombre</label>
            <input type="text" id="nombre" name="nombre" class="input-campo" required>
        </div>

        <div class="campo">
            <label for="apellidos" class="label-placeholder">Apellidos</label>
            <input type="text" id="apellidos" name="apellidos" class="input-campo relleno" required>
        </div>

        <div class="campo">
            <label for="fecha_nacimiento" class="label-placeholder-nacimiento">Fecha de Nacimiento</label>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" class="input-campo relleno" required>
        </div>

        <div class="campo">
            <label for="email" class="label-placeholder">Email</label>
            <input type="email" id="email" name="email" class="input-campo relleno" required>
        </div>

        <div class="campo">
            <label for="usuario" class="label-placeholder">Usuario</label>
            <input type="text" id="usuario" name="usuario" class="input-campo relleno" required>
        </div>

        <div class="campo">
            <label for="contrasena" class="label-placeholder">Contraseña</label>
            <input type="password" id="contrasena" name="contrasena" class="input-campo relleno" required>
        </div>

        <div class="campo">
            <label for="confirmar_contrasena" class="label-placeholder">Confirmar Contraseña</label>
            <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" class="input-campo relleno" required>
        </div>

        <input type="submit" value="Enviar">
    </form>
</div>
{% endblock %}