{% extends 'plantilla/base.html' %}
{% load static %}
{% block title %} Login {% endblock %}
{% block content %}
<link rel="stylesheet" href="perfil.css">
<div class="header-container">
	<a href="{% url 'perfil' %}"><button class="boton-atras" > &lt; </button> </a>
	<h4>Tus favoritos</h4>
</div>
<hr>

<div class="main_productos">
	<div class="seccion_productos">
		<a href="{% url 'producto_tipo' %}" class="link_seccion_product">
			<div class="titulo_seccion">
			Hoteles
			</div>
		</a>
		<div class="grid_productos">
			<a href="#" class="link_producto">
				<div class="producto"> 
					<img src="{% static 'images/habitacion.jpg' %}" class="img_product">
					<h3 class="product_name">Hotel 4<h3> 
				</div>
			</a>
		</div>
	</div>

	<div class="seccion_productos">
		<a href="#" class="link_seccion_product">
			<div class="titulo_seccion">
			Vuelos
			</div>
		</a>
		<div class="grid_productos">
			<a href="#" class="link_producto">
					<div class="producto"> 
					<img src="{% static 'images/vuelos.jpeg' %}" class="img_product">
					<h3 class="product_name">Vuelo 1<h3> 
				</div>
			</a>
			<a href="#" class="link_producto">
				<div class="producto"> 
					<img src="{% static 'images/vuelos.jpeg' %}" class="img_product">
					<h3 class="product_name">Vuelo 2<h3> 
				</div>
		</div>
	</div>

	<div class="seccion_productos">
		<a href="#" class="link_seccion_product">
			<div class="titulo_seccion">
			Packs completos
			</div>
		</a>
		<div class="grid_productos">
			<a href="#" class="link_producto">
				<div class="producto"> 
					<img src="{% static 'images/hotelywarner.jpg' %}" class="img_product">
					<h3 class="product_name">Pack completo 3<h3> 
				</div>
			</a>
		</div>
	</div>
</div>
<!-- <div>
	<a href="{% url 'logout' %}" class="button_logout">Salir</a>
</div> -->

{% endblock %}