{% extends 'plantilla/base.html' %}
{% load static %}
{% block title %} Login {% endblock %}
{% block content %}
<link rel="stylesheet" href="perfil.css">
<div class="header-container">
	<a href="{% url 'perfil' %}"><button class="boton-atras" > &lt; </button> </a>
	<h4>Tus reservas</h4>
</div>
<hr>

<div class="main_productos">
{% for reserva in reservas %}
  <h2>Reserva</h2>
  <p>Fecha de inicio: {{ reserva.res_f_inicio }}</p>
  <p>Fecha de fin: {{ reserva.res_f_fin }}</p>

  <h3>Packs:</h3>
  <ul>
    {% for pack in reserva.pack.all %}
      <li>{{ pack.pa_nombre }}</li>
    {% endfor %}
  </ul>

  <h3>Actividades:</h3>
  <ul>
    {% for actividad in reserva.actividad.all %}
      <li>{{ actividad.act_nombre }}</li>
    {% endfor %}
  </ul>

  <h3>Hoteles:</h3>
  <ul>
    {% for hotel in reserva.hotel.all %}
      <li>{{ hotel.ho_nombre }}</li>
    {% endfor %}
  </ul>

  <h3>Vuelos:</h3>
  <ul>
    {% for vuelo in reserva.vuelo.all %}
      <li>{{ vuelo.vu_nombre }}</li>
    {% endfor %}
  </ul>
{% endfor %}
	<!--
	<div class="seccion_productos">
		<a href="{% url 'producto_tipo' %}" class="link_seccion_product">
			<div class="titulo_seccion">
			Hoteles
			</div>
		</a>
		<div class="grid_productos">
			<a href="#" class="link_producto">
				<div class="producto"> 
					<img src="{% static 'images/habitacion.jpg' %}" class="img_product">
					<h3 class="product_name">Hotel 1<h3> 
				</div>
			</a>
		</div>
	</div>

	<div class="seccion_productos">
		<a href="#" class="link_seccion_product">
			<div class="titulo_seccion">
			Actividades
			</div>
		</a>
		<div class="grid_productos">
			<a href="#" class="link_producto">
				<div class="producto"> 
					<img src="{% static 'images/senderismo.png' %}" class="img_product">
					<h3 class="product_name">Actividad 2<h3> 
				</div>
			</a>
			<a href="#" class="link_producto">
				<div class="producto"> 
					<img src="{% static 'images/senderismo.png' %}" class="img_product">
					<h3 class="product_name">Actividad 4<h3> 
				</div>
			</a>
		</div>
	</div>
	-->
	<h3>Aqui salen tus reservas :)</h3>
	{% if messages %}
	{% for message in messages %}
	{{message}}
	{% endfor %}
	{% endif %}
</div>

{% for act in actividades %}
<h2>{{act.act_nombre}}</h2>
<p>{{act.act_precio}}</p>
{% if act.act_imagen %}
<img src="{{act.act_imagen.url}}" alt="" width="500px" height="auto">
{% endif %}
{% endfor %}

{% endblock %}