<form class="allcontent" action="{% url 'vuelos' %}" method='get'>
    <div class="column">
        <input type="radio" id="ida" name="button" value="ida">
        <label for="soloida">Solo ida</label>
        <input type="radio" id="idayvuelta" name="button" value="idayvuelta">
        <label for="idayvuelta">Ida y vuelta</label><br>
        <br>
            <label for="datetravel"><strong>Origen</strong></label><br>
            <select name='ida' class="box" id="">
            <option value="" selected disabled>Origen</option>
            {% for o in origen %}
            <option value="{{o}}">{{o}}</option>
            {% endfor %}
            </select>
        <br>
        <label for="fecha_ida"><strong>Fecha de salida</strong></label><br>
        <input class="box" type="date" name ="fecha_ida" id="fecha_ida"><br>
        <label for="fecha_vuelta"><strong>Fecha de regreso</strong></label><br>
        <input class="box" type="date" name ="fecha_vuelta" id="fecha_vuelta"><br>
    </div>
    <div class="column">
        <br>
        <br>
        <form action="" method="get">
            <label for="datetravel"><strong>Destino</strong></label><br>
            <select name='vuelta' class="box" id="">
            <option value="" selected disabled>Destino</option>
            {% for d in destino %}
            <option value="{{d}}">{{d}}</option>
            {% endfor %}
            </select>
        </form>
        <br>
        <label for="datetravel"><strong>Número de pasajeros</strong></label><br>
        <input class="box" type="number" id="datetravel" ><br>
        
        <br>

        <input class="CTA_BUSCAR" type="submit" value="Buscar"/>
    </div>
</form>