<form class="search_form_page" action="{% url 'packs' %}">
    <div class="column">
        <label for="datetravel"><strong>Seleeciona un país</strong></label><br>
        <select class="box">
            <option value="option1">Perú</option>
            <option value="option1">Estados Unidos</option>
            <option value="option2">Canadá</option>
            <option value="option3">México</option>
            <option value="option4">Argentina</option>
            <option value="option5">Brasil</option>
            <option value="option6">España</option>
            <option value="option7">Reino Unido</option>
            <option value="option8">Francia</option>
            <option value="option9">Alemania</option>
            <option value="option10">Italia</option>
            <option value="option11">China</option>
            <option value="option12">Japón</option>
            <option value="option13">Australia</option>
            <option value="option14">Sudáfrica</option>
            <option value="option15">India</option>
        </select><br>
        <label for="datetravel"><strong>Fecha de salida</strong></label><br>
        <input class="box" type="date" id="datetravel" name="fecha_ida"
        {% if request.session.fecha_ida %}
        value="{{request.session.fecha_ida }}"
        {% endif %}
        ><br>
        <label for="datetravel"><strong>Fecha de regreso</strong></label><br>
        <input class="box" type="date" id="datetravel" name="fecha_vuelta"
        {% if request.session.fecha_vuelta %}
        value="{{request.session.fecha_vuelta }}"
        {% endif %}
        ><br>
        
    </div>
    <div class="column">
        <label for="datetravel"><strong>Número de pasajeros</strong></label><br>
        <input class="box" type="number" id="datetravel" ><br>
        <label for="datetravel"><strong>Número de noches</strong></label><br>
        <select class="box">
            <option value="option1">7 noches</option>
            <option value="option1">8 noches</option>
            <option value="option1">9 noches</option>
            <option value="option1">10 noches</option>
            <option value="option1">11 noches</option>
            <option value="option1">12 noches</option>
            <option value="option1">13 noches</option>
        </select><br>
        <label for="datetravel"><strong>Temática</strong></label><br>
        <input class="box" type="text" id="datetravel" value="Perú"><br>

        <input class="CTA_BUSCAR" type="submit" value="Buscar"/>
    </div>
</form>