<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tu entrada</title>
</head>
<body bgcolor="#145233" style="font-family: sans-serif; color: rgb(50, 50, 50);">
	<table style="margin: auto; margin-top: 24px; border-spacing: 0px;" width="600">
		<tr bgcolor="#FFFFFF" border="0">
			<td style="padding:24px; border-radius: 24px 24px 0 0;">
				<img style="width: 100px;" src="{% static 'images/mail_logo.png' %}" alt="senda_logo">
			</td>
		</tr>
		<tr>
			<td style="background-color: white;">
				<img src="{% static 'images/mail_flyer_entrada.jpg' %}" alt="flyer_concierto">
			</td>
		</tr>
		<tr style="background-color: white; box-sizing: border-box;">
			<td style="padding: 16px 24px 0 24px;">
				<h1 style="text-align: center; font-size: 24px;">Hola Angel, aqui tienes tu entrada para</h1>
				<h2 style="text-align: center; font-size: 20px; color: #EB5E37;">
					Concierto solidario a favor de la Fundación Aladina
				</h2>
				<p style="margin-top: 24px; text-align: justify; font-size: 18px; line-height: 24px;"><b>Muchas gracias</b> por ayudar a financiar el proyecto del nuevo <b>Hospital de Día de Oncohematología Infantil y Trasplantes del Hospital La Paz de Madrid.</b></p>
				<p style="margin-top: 24px; text-align: justify; font-size: 18px; line-height: 24px;">Nos encantará verte el próximo <b>sábado 25 de noviembre en la sala Copérnico de Madrid (apertura de puertas 19h)</b> y que disfrutemos juntos de un momento de música, ayudando a los niños y familias de Fundación Aladina.</p>
				<p style="margin-top: 36px; text-align: center; font-size: 18px; line-height: 24px;"><b>¡IMPORTANTE! tienes que presentar este código QR para acceder a la Sala Copérnico.</b></p>
			</td>
		</tr>
		<tr style="background-color: white;">
			<td style="text-align: center;">
				<img src="{% static 'images/mail_entrada_qr.jpg' %}" alt="codigo_qr">
			</td>
		</tr>
		<tr style="background-color: white; box-sizing: border-box;">
			<td style="padding:0 24px 24px 24px ; text-align: center;">
				<p style="font-weight: 600; margin: 2px; padding: 0;">📅 Fecha 25 noviembre</p>
				<p style="font-weight: 600; margin: 2px; padding: 0;">⌚ Se abren las puertas a las 19:00h, comienzo concierto 20:00h </p>
				<p style="font-weight: 600; margin: 2px; padding: 0;">📍 El Lugar: Copérnico Club (c/ Fernandez de los Rios, 67, madrid)</p>
			</td>
		</tr>
		<tr style="background-color: white; box-sizing: border-box;">
			<td style="padding:0 24px 24px 24px ; text-align: center; border-radius: 0 0 24px 24px;">
				<p style="font-size: 18px; font-weight: bold;">
					Esta invitación es para:
				</p>
				<p style="font-size: 18px; font-weight: bold; color: #EB5E37;">
					Angel Polo Torres
				</p>
			</td>
		</tr>
	</table>
</body>
</html>